header{
	
	height: 150px;
	border-bottom: 1px solid;
	border-color: rgb(160, 157, 157);
	margin-bottom: 30px;

}

body{
	padding-left: 20px;
	padding-right: 35px;

}
.logo{
	width: 120px;
	height: 20px;
	bottom: 2;
	margin-left: 8px;
	float: left;
}
.haute{
	width: 850px;
	height: 50px;
	float: right;
	margin-right: 15px;
	text-align: left;

}

.btn:hover{
  background-color: rgb(54, 211, 46);
}


.basse{
	width: 900px;
	height: 40px;
	float: right;
	margin-right: 15px;
}
.haute ul li{
	float: right;
	display: inline-block;
	padding-left: 20px;
	color: rgb(56, 53, 53);
}
.basse ul li{
	display: inline-block;
	padding-left: 55px;
	float: right;
	padding-right: 10px;
	color: rgb(173, 173, 173);
}


.corps{
	width: 1345px;
	height: 400px;
	background-image: url("images/home-computer-hero@2x.jpg");
	padding-left: 45px;
}
h1{
	color: #0d83dd;
	line-height: 50px;
}
.corps p{
	font-family: arial;
	margin-top: 35px
	margin-bottom: 0.2px;
	text-align: left;
}
.corps .btn{
	width: 250px;
	height: 60px;
	margin-bottom: 10px;
	background-color:#85c525;

}
.sponsor{
	background-color: #f1f1f1;
	width: 1345px;

	}

.sponsor ul li{
	list-style-type:none;
	display: inline; 
	padding-right: 50px;

}
.cloud .clo,.clos{
	display: inline-block;
	margin-right: 100px;
}
.innove{
	height:430px;
	background-color: #e5f4fe;
	padding-left: 40px;
}
.innove ul li{
	display: inline-block;
	padding-right: 80px;
	padding-top: 20px;
	font-size: 20px;


}
.innove img{
	position: relative;
	bottom: 150px;
	left: 250px;
	
}
.innove .btn{
	color: black;
	background-color:transparent;
	background-color: rgb(54, 173, 48);
	position: relative;
	bottom: 130px;
}
.innove .btn:hover{
	color: white;
	background-color: green; }
.innove h3{
	color: blue;
	margin-top: 100px;
	margin-bottom: 20px;
}
.innove p{
	font-size: 20px;
}
.sma img {
	width: 150px;
	height: 150px;
}
.image-circle{
	border-radius: 100%;

}


.sma{
	position: relative;
	top: 70px;
	text-align: center;
}
.sma .kat,.pat,.rom{
	display: inline-block;
	padding-right: 120px;
}

hr {
	width: 60px;
	border: 1px solid #0d83dd ;
}


.fax{
	border: 1px solid gray;
	position: relative;
	top: 80px;
	text-align: center;
	border-radius: 10px;
	font-size: 26px;
}
.fax.btn{
	width: 180px;
	height: 70px;
	margin-top: 10px;
	font-size: 20px;
	padding-bottom: 30px;
}
.learn{
	position: relative;
	top: 150px;
	margin: 0 40px;

}
.learn .empl,.age{
	display: inline-block;
	text-align: center;
	padding-right: 30px;

}
.learn .btn{
 	width: 150px;
 	height: 30px;
 	background: transparent;
 	color: black;
 	
}
.learn .btn:hover{
	color: white;
	background: blue;
}


.run {
   display: inline-block;
   padding-top: 200px;
   font-size: 15px;
  margin-left: 2.5em;
  margin-right : 3.2em;
  
}

.con{
	float: right;
	padding-top: 25px;
	padding: 2em;
}

.con .btn{
	width: 200px;
 	height: 50px;
 	background: transparent;
 	color: black;
 	text-align: center;
 	font-size: 15px;
 	border-color: rgb(160, 155, 155);
 	padding: 1.2em;
}

.con p{
	text-align: center;
	padding: 1.2em;
}


.save{
	border: 1px solid gray;
	position: relative;
	top: 80px;
	text-align: right;
	border-radius: 10px;
	font-size: 26px;
}
.save .btn{
	width: 180px;
	height: 50px;
	margin-top: 10px;
	font-size: 20px;
	padding-bottom: 30px;
}
.save p {
	float: center;
    text-align: right;
    margin: 0.2em
}
.support-customer {
	float: right;
	padding-top: 120px;
	text-align: justify;
	font-size: 18px;
	padding-right: 7em;
	font-family: times New Roman, sans-serif;
}

.support-img{
	padding-top: 10em;
	margin-left: 6em;
}

 a{
 text-align: left;
 color: rgb(170, 167, 167);
}

.fresh-philo {
	text-align: center;
}


.fresh-philo .btn{
   color: black;
	background-color:transparent;
	bottom: 130px;
	border-color: rgb(196, 194, 194);
	width: 12em;
	height:3.5em;
	border-radius: 4px;
	box-shadow: 2em;
}

.profile-img{
	padding: auto;
	padding-left: 2px;
	margin-right: auto;
	text-align: left;
	padding-top: 5em;
	width: 1400px;
}

.get-started{
	float: left;
	padding: 5em;
	padding-left: 3em;
	width: 1400px;
	background-color: rgb(21, 0, 255);
	background-repeat: no-repeat;
	color:white;

}
.logo-join img{
	float: right;
	text-align: left;
	padding: 1.1px;
	padding-left:8em;
}

.get-started .btn{
	color: white;
	background-color: rgb(54, 211, 46);
	bottom: 500px;
	border-color:rgb(196, 194, 194) ;
	width: 18em;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 1.2em;
	height: 4.5em;
	text-align: center;
}

.get-started h2{
	color: white;
}


.cred-card{
	float: right;
	text-align: left;
	padding: auto;
	color: white;
}

.cred-card p{
	float: left;
	padding-right: 12em;
	text-align: justify;
	padding-top: 0.5em;
}

}

.get-started .cred-card{
	margin-left: 1.2em;
	text-align: justify;
}


.img-fresh{
	float: left;
	padding: 0.1em;
	margin-left:.1em
}

footer{
	text-align: center;
	float: left;
	clear: both;
}


}
.rev-elmt h3{
   text-align: right;

}

.icon-circle {
	width: 18em;
	font-size: 35px;
	text-align: right;
}

.card-icon{
float: right;
text-align: right;
}
.footer-copy {
	text-align: right;
	float: right;
	padding:.1em;
	padding-right:.1em;

}

.app-store-apple{
	float: left;

	
}
.container1{
	float: right;
	text-align: right;
	border-top: 1px solid;
	width: 1550px;
	padding-top: 0.1em;
	margin-top: 1px;
	height: 3px;
	margin-left: 3em;
	border-color: rgb(183, 178, 178);
}

[class*="col1"]{
margin-left:18em;
margin-top: 15px;
margin-bottom: 0.1px;
margin-top: 0.1px;

}

[class*="col1"].card-icons{
	float: right;
	margin: none;
}

	[class*="col"]{
		margin-bottom: 12px;
	   padding-right: 2em;
       font-size: 15px;
       color:rgb(79, 98, 117);
      
       }
       
 /*[class*="col1"].icon-circle{
 	border-radius: 50%;
 	width: 30px;
 }
 #select{
	width: 2px;
	border: 0px;
}*/

.form-group{
	margin-right: 9px;
	text-align: right;
	padding: 3px;
	float:  right;
	margin-left: 3px;


}

./*form-group1{
	margin-bottom: 17em;
	float: right;
}

